
/*define variables*/
:root{
    --darkcolor: #131e53;
    --mediumcolor:#627bab;
    --lightcolor: #a9b5c9;
    --neutralcolor: #c2bebc;
    --white: #edeef0;


}
body{
    background-color:var(--white);
}

/*header title styling */
header h1 {
    font-size: 20px;
    color:var(--darkcolor);
    text-align:center;
    margin:20px 0;
}

/*Navigation page links to be spaced out across header*/
nav ul{
    display:flex;
    justify-content:space-evenly;
    margin:5px 20px 5px 20px;
    font-size: 16px;

}

header nav ul li {
    list-style-type: none;
    display:inline-block;
}

nav a{
    text-decoration: none;
    color: var(--darkcolor);
}
/*highlight and change font color when hover over a navigation link 
nav ul li:hover{
background-color:var(--lightcolor);
}*/
nav a:hover{
 text-shadow: 1px 1px 3px var(--mediumcolor);
    }

/*section styling to separate each topic or navigational piece*/

/*Splash content and styling*/
#Splash{
    padding:20px;
    background-color:var(--lightcolor);
    color:var(--darkcolor);
    display:flex;
    justify-content: space-around;
    align-items:center;
}
/*Placed header overtop image container*/
#Splash h2{
    padding:20px;
    font-size:36px;
    position:absolute;
    flex:auto;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 2;
}
#Splash p{
    font-size:16px;
}
#splashImage{
    flex:auto;
    border:1px solid var(--white);
    z-index: 1;
}

#Splash img{
    width:100%;
}

#About{
    min-height:400px;
    padding:20px;
    background-color:var(--mediumcolor);
    color:var(--white);
}
/*Start Portfolio section styling */

#Portfolio{
    padding:0px 20px 20px 20px;
    background-color:var(--white);
    color:var(--darkcolor);
    display:flex;
    align-items:center;
}
#Portfolio a{
    text-decoration: none;
}



/*Portfolio section header and subtext to be next to portfolio pieces*/

#portfolioHeader{
    padding:20px;
    flex:auto;
    font-size:36px;

}

#portfolioHeader h2{
    font-size:50px;
}

#portfolioHeader p{
    margin-top:15px;
    font-size:16px;
}




/*Portfolio samples*/
#portfolioBlock{
    padding:5px 0px;
    display:flex;
    flex-wrap:wrap;
}

/*sizing of work container that will hold image link to portfolio items, keeping 1-2 items per row*/
.work{
    padding:5px;
    flex: 50%;
}

/*the first portfolio item will be larger than the subsequent items*/
#portfolioBlock .work:nth-child(1){
    padding:5px;
    flex: 100%;
}

/*Images for portfolio items will take up the entire space of their work container*/
.work a img, #highlightWork a img{
    width:100%;
    z-index:0;

}

/*added some styling when the user hovers over the portfolio items*/
.work img:hover {
    box-shadow: 3px 3px 3px 3px var(--lightcolor);
}

/*Label styling for each work item*/
.work h3{
position:relative;
display:inline;
padding:5px;
top: 40px; left: 30px;
background-color: rgba(255, 255, 255, 0.6)

}

#Contact{
    min-height:400px;
    padding:20px;
    background-color:var(--mediumcolor);
    color:var(--white);
}



/*Footer styling*/

footer{
padding:20px;
color:var(--white);
background-color:var(--darkcolor);
font-size:12px;
text-align: center;

}
#social{
    margin-top:5px;
    font-size: 16px;
    display:flex;
    justify-content:center;
    }
#social ul li{
    list-style-type: none;
    display:inline;
    color:var(--white);
}
    /*social media icons */
.fa {
    padding: 5px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;

  }

/*For smaller screen sizes such as phones and tablets, the portfolio items will fall into a column rather than row*/
@media screen and (max-width: 768px) {
 #Portfolio{
      flex-direction: column;
    }

}