
/*define variables*/
:root{
    --darkcolor: #131e53;
    --mediumcolor:#627bab;
    --lightcolor: #a9b5c9;
    --neutralcolor: #c2bebc;
    --white: #edeef0;


}
body{
    background-color:var(--white);
}

header{
    border-bottom:2px solid var(--darkcolor);

}


/*Navigation styling, created separate items for social media links, Header, and page links 
so that they would display left, center, and right respectively*/
nav{
    display:flex;
    justify-content: space-between;
    margin:5px 20px 5px 20px;

}

header nav ul li {

    list-style-type: none;
    display:inline-block;
    
}

nav a{
    text-decoration: none;
    color: var(--darkcolor);
}

header h1 {
    font-size: 20px;
    color:var(--darkcolor);
    text-align:center;
}

#social{
    margin-top:5px;
    font-size: 16px;
    }


#pagelinks{
    margin-top:5px;
    font-size: 16px;
}






/*section styling to separate each topic or navigational piece*/
#Splash{
    min-height:400px;
    padding:20px;
    background-color:var(--darkcolor);
    color:var(--white);
}

#About{
    min-height:400px;
    padding:20px;
    background-color:var(--mediumcolor);
    color:var(--white);
}
/*Start Portfolio section styling */
/*Portfolio Highlight item*/
#highlightWork{
    display:block;
    padding:20px 20px 0px 20px;
    background-color:var(--lightcolor);
    justify-content: left;

}

#Portfolio{
    padding:0px 20px 20px 20px;
    background-color:var(--lightcolor);
    color:var(--darkcolor);
    display:flex;
    align-items:center;
}
#Portfolio a{
    text-decoration: none;
}



/*Portfolio section header and subtext to be next to portfolio pieces*/

#portfolioHeader{
    padding:20px;
    flex:auto;
    font-size:36px;

}

#portfolioHeader h2{
    font-size:50px;
}

#portfolioHeader p{
    margin-top:15px;
    font-size:16px;
}




/*Portfolio samples*/
#Portfolio #portfolioBlock{
    padding:5px 0px;
    display:flex;
    flex-wrap:wrap;



}


/*sizing of work container that will hold image link to portfolio items, keeping 1-2 items per row*/
.work{
    padding:5px;
    flex: 50%;
}

/*Images for portfolio items will take up the entire space of their work container*/
.work a img, #highlightWork a img{
    width:100%;

}




#Contact{
    min-height:400px;
    padding:20px;
    background-color:var(--neutralcolor);
    color:var(--darkcolor);
}



/*Footer styling*/

footer{
padding:20px;
color:var(--darkcolor);
font-size:8px;
text-align: center;

}
